<form #formRegister="ngForm" (submit)="register()">
    <h2 class="text-center text-primary">Sign Up</h2>
    <div class="form-group">
      <label for="">User Name</label>
        <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-o" aria-hidden="true"></i></span>
        <input type="text" name="UserName" required class="form-control" placeholder="User name" [(ngModel)]="model.UserName">
        </div>
    </div>
      <div class="form-group">
        <label for="">What is your favorite string?</label>
        <select class="form-control" name="" id="">
          <option *ngFor="let value of valuesFromHome" [value]="value">{{value}}</option>
        </select>
    </div>
    <div class="form-group">
      <label for="">Password</label>
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
        <input type="password" name="Password" required class="form-control" placeholder="Password" [(ngModel)]="model.Password">
        </div>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success btn-lg mr-3" type="submit">Register</button>
        <button type="reset" class="btn btn-primary btn-lg">Cancel</button>
    </div>
</form>
